@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
*{
	margin: 0;
	padding: 0;
   box-sizing: border-box;
}
body{
	height: 100vh;
 
	font-family: 'Segoe UI';
	background-color: #050505;
	background-color: #A4CAC9;
	color: white;
	color:#111;
}
h1{
	text-align: center;
 font-family: "Rubik Mono One", monospace;
 color: #005971;
 padding-top: 24px;
}
span{
	display: inline-block;
}
.contenedor{
	margin: 0 20%;
	padding: 16px;
	width: 60%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 16px;

}
.container{
	background-color: #191919;
	background-color: #fefce7;
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: : center;
	gap: 5px;
	border-radius: 4px;
}
.container2, .container3{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.bandera{
	width: 40px;
	height: 25px;
	background-size: cover;
	background-position: center;
	border-radius: 2px;

	border: 2px solid white;
	filter: sepia(50%); 
}
input{
	display: inline-block;
	width: 70%;
   outline: none;
   border: none;
	background-color: #fefce7;
   border-radius: 2px;
   border-bottom: 1px solid #ccc;
   height: 30px;
   padding: 5px;
   cursor: pointer;
}
input::placeholder{
	color: #bbb;
}

input:focus{
	outline: 2px solid white;
}
.container2>span:nth-child(2){
	text-align: right;
	width: 150px;
   overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 480px) {
 .contenedor{
 	    margin:0;
 	    width: 100%;
 		grid-template-columns: repeat(2,1fr);
 		grid-template-rows: repeat(18,100px);
 }

 .container2>span:nth-child(2){
 	width: 100px;
 }
 h1{
 	font-size: 1.5em;
 }
}
